body.bot {
  background: linear-gradient(-45deg, #4b0082, #160E35, #1B172D);
	background-size: 500% 500%;
	animation: gradient 8s ease infinite;
}

video {
  mix-blend-mode: lighten;
  width: 200px;
  height: 200px;
}

.bot .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* Background gradient animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}